mixin gallery()
  .gallery
    .gallery__content.js-content-gallery(data-gallery="gallery-1")
      .swiper-wrapper
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0005.jpg"
                alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0006.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0005.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0006.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0005.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0006.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0005.jpg"
              alt="image")
        .swiper-slide
          .gallery__slide
            img(src="assets/img/Казань_обманки_page-0006.jpg"
              alt="image")
      .gallery__content-navigation.js-gallery-controller
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0005.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0006.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0005.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0006.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0005.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0006.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0005.jpg"
            alt="image")
        button.gallery__navigation
          img(src="assets/img/Казань_обманки_page-0006.jpg"
            alt="image")